# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*
ios/Runner/GoogleService-Info.plist   # Firebase iOS config (sensitive)

# Android
android/.gradle/
android/app/google-services.json       # Firebase Android config (sensitive)
android/local.properties
*.apk
*.aar
*.jks

# Firebase & Config
firebase_app_id_file.json
firebase.json
lib/**/firebase_config.dart            # custom config, jangan di-push
lib/**/firebase_options.dart           # auto generated, berisi API key
.env                                   # env secrets

# System & Editor
.DS_Store
*.iml
.idea/
.vscode/
